<h1>Welcome, <%=@user.username %></h1>
<h2> List of Your Meditations!</h2>
<ul>
<% @user.meditations.each do |meditation| %>
    <li><p><a href = "/meditations/"<%= meditation.id%> <%= meditation.date %></a></p></li>
    <% end %>
    </ul>

    <a button id="mainbtn" type="button" class="btn btn-default" href="/">Main Page</a>
    <a button id="logoutbtn" type="button" class="btn btn-default" href="/logout">Log Out</a>