<h1> Edit Your Meditation </h1>


<a button id="mainbtn" type="button" class="btn btn-default" href="/">Main Page</a>
<a button id="meditationbtn" type="button" class="btn btn-default" href="/meditations">Your Log</a>
<a button id="logoutbtn" type="button" class="btn btn-default" href="/logout">Log Out</a>