<h1> Edit Your Meditation </h1>
<form method="post" action="/meditations/ <%= @meditation.id %>">
<p><input id= "hidden" type= "hidden" name="_method" value="patch">
<p>Date:</p>
<input type="datetime" id="date" name="date" value="<%= @meditation.date %>">
<p>Length of Meditation:</p>
<input type="text" id="meditation_length" name="meditation_length" value="<%= @meditation.meditation_length %>">
<p>Time of Day </p>
<input type="text" id="time_of_day" name="time_of_day" value="<%= @meditation.time_of_day%>">
<button type="submit" alt="Edit Meditation"></button></p>
</form>

<a button id="mainbtn" type="button" class="btn btn-default" href="/">Main Page</a>
<a button id="meditationbtn" type="button" class="btn btn-default" href="/meditations">Your Log</a>
<a button id="logoutbtn" type="button" class="btn btn-default" href="/logout">Log Out</a>