<h1>Welcome, <%= @user.username %></h1>
<h2> We are so happy you are tracking you Meditation Progress!</h2>
<h3>List of Meditations:</h3>




  <p><a button id="createnew" type="button" class="btn btn-default" href="/meditations/new">Create a New Meditation</a></p>
  <p><a button id="logoutbtn" type="button" class="btn btn-default" href="/logout">Log Out</a></p>
