<h1>Welcome, #username needs to go hereIlliana </h1>
<br>
<h2> List of Your Meditations!</h2>
<br>
<h1>Log a New Meditation</h1>
<form method ="post" action="/meditations/new">
<p>Date:</p>
<textarea type="datetime" name="date" placeholder="12/04/2020"></textarea><br>
<p>Minutes of Meditation:</p>
<textarea type="integer" name="meditation_time" placeholder="24"></textarea><br>
<p>Day or Night Meditation:</p>
<textarea type="string" name="time_of_day" placeholder="night"></textarea><br>
<input type="submit" value="submit">
</form>
