<h1>Welcome, <%= @user.username %></h1>
<br>
<h3>List of Meditation:</h3>
<br>
<% @meditations.each do |m| %>
  <h5>Meditation Date: <%= m.date %></h5>
  <p><a href="/meditations/<%= m.id %>">Show Meditation</a></p>
  <br>
<% end %>

  <p><a button id="createnew" type="button" class="btn btn-default" href="/meditations/new">Create a New Meditation</a></p>
  <p><a button id="logoutbtn" type="button" class="btn btn-default" href="/logout">Log Out</a></p>
  </div>