<h1>Log a New Meditation</h1>
<form method ="post" action="/meditations/new">
<p>Date:</p>
<textarea type="datetime" name="date" placeholder="12/04/2020"></textarea><br>
<p>Minutes of Meditation:</p>
<textarea type="text" name="meditation_length" placeholder="30"></textarea><br>
<p>Morning or Night Meditation:</p>
<textarea type="text" name="time_of_day" placeholder="night"></textarea><br>
<input type="submit" value="submit">
</form>

<p class="center"><a href="/meditations">Browse All Meditations</a> || <a href='/'>Main Page</a> || <a href="/logout"> Log Out</a></p>