  <header>
    <h1>Meditation Tracker</h1>

    <div>
      <h2>Welcome to Your Meditation Tracker! </h2>
      <p> Here to help you keep a record of your meditation progress! </p>
      <p>  Sign in or Create an Account Below: </p>
      <a button id="loginbtn" type="button" class="btn btn-default" href="/login">Login</a>
      <a button id="signupbtn" type="button" class="btn btn-default" href="/signup">Sign Up</a>
      </section>
  </div>
</div>
